<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/extjs/resources/css/ext-all-neptune.css'/>
    <script type="text/javascript" src="/extjs/ext-all.js"></script>
    <script type="text/javascript" src="/extjs/ext-lang-zh_CN.js"></script>
    <script type="text/javascript" src="bootstrap/views"></script>
    <script type="text/javascript" src="bootstrap/models"></script>
    <script type="text/javascript" src="bootstrap/stores"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body>
<iframe id="downloadFrame" style="display:none"></iframe>
</body>
</html>